DirectoryIndex index.php index.html
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
